<div class="productDetail">
  <h1>{{artist.name}}</h1>
  <img src="{{artist.image}}">
  <p>{{artist.bio}}</p>
  <p>{{artist.genre}}</p>
  <p>Website: <a href="{{artist.website}}">{{artist.name}}.com</a></p>
  </div>

<!-- <p><button {{action 'addToCart' product}}>Add to Cart</button></p>

{{#each product.feedbacks as |feedback|}}
  {{feedback-tile feedback=feedback deleteFeedback="deleteFeedback"}}
{{/each}} -->
