<div class="artistTile">
  <h4>{{#link-to 'artist' artist.id}}{{artist.name}}{{/link-to}} </h4>
  <img src="{{artist.image}}">
  <p>Genre: {{artist.genre}}</p>
  <p>{{artist.bio}}</p>
  <p>Website: <a target="_blank" href="{{artist.website}}">{{artist.name}}.com</a></p>
  <p>Review Level: {{artist-popularity artist}}</p>
</div>
