<div class="artistDetail">
  <h1>{{artist.name}}</h1>
  <div class="row">
    <div class="col s6">
      <p>{{artist.bio}}</p>
      <p>Website: <a href="{{artist.website}}">{{artist.name}}.com</a></p>
    </div>
    <div class="col s4">
      <img src="{{artist.image}}">

    </div>
   </div>
</div>
<div class="artistDetailReview">
  <div class="row">
    <div class="col s12">
      <h4>Spread the Love</h4>

      {{#each artist.reviews as |review|}}
        {{review-tile review=review}}
        <!-- deleteFeedback="deleteFeedback" -->
      {{/each}}
    </div>
  </div>
</div>








<!-- <p><button {{action 'addToCart' product}}>Add to Cart</button></p>
