{{#if newArtistForm}}
<h2> Add a new Artist </h2>
  <form>
    <div class='form-group'>
      <label for='name'>Name:</label>
      {{input value=name id='name'}}

      <label for='genre'>Genre:</label>
      {{textarea value=genre id='genre'}}

      <label for='bio'>Biography:</label>
      {{input value=bio id='bio'}}

      <label for='image'>Image URL:</label>
      {{input value=image id='image'}}

      <label for='website'>Website URL:</label>
      {{input value=website id='website'}}

    </div>
    <button class="waves-effect waves-light btn" {{action 'addArtist'}}>Save</button>
  </form>
{{else}}
<button class="btn" {{action 'newArtistFormShow'}}>Add Artist</button>
{{/if}}
