<div class="container">
  <div class="newReview">
    {{#if addNewReview}}
    <section class="reviewSection">
      <h3>New Review:</h3>
        <form>
          <div class="form-group">
            <label for="user">User Name:</label>
            {{input value=user id="user"}}
          </div>

          <div class="form-group">
            <label for="rating">Rating:</label>
            {{input max=9 value=rating id="rating"}}
          </div>

          <div class="form-group">
            <label for="venue">Venue Seen at:</label>
            {{input value=venue id="venue"}}
          </div>

          <div class="form-group">
            <label for="performance">How was the Performance?</label>
            {{textarea value=performance id="performance"}}
          </div>

          <button class="waves-effect waves-light btn" {{action 'saveReview'}}>Save</button>
        </form>
    </section>
    {{else}}
      <center><button class="btn leaveReview" {{action 'reviewFormShow'}}>Leave a Review</button></center>
    {{/if}}
  </div>
</div>
