{{#md-navbar name='Ravelp' class='grey lighten-1'}}

  {{#link-to 'index' tagName='li'}}
    {{link-to 'Home' 'index'}}
  {{/link-to}}
  {{#link-to 'add-artist' tagName='li'}}
    {{link-to 'Add an Artist' 'add-artist'}}
  {{/link-to}}
{{/md-navbar}}

<header>
  {{md-parallax image="assets/img/raveHeader2.JPG"}}
  <h1>Ravelp</h1>
  <p>Your source for peace, love, unity, and respect</p>
</header>

<div class="container">
    {{outlet}}
</div>

<footer></footer>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
